envFrom:
  - secretRef:
      name: cerbos-github-token

cerbos:
  config:
    audit:
      enabled: true
      accessLogsEnabled: true
      decisionLogsEnabled: true
      backend: file
      file:
        path: stdout
    # Configure the git storage driver
    storage:
      driver: "git"
      git:
        protocol: https
        # Replace with the URL of your GitHub repo.
        url: https://github.com/cprey/cerbos_graphql
        # Replace with the branch name of your repo.
        branch: gfm-example
        # Remove or leave empty if the policies are not stored in a subdirectory.
        subDir: cerbos/policies
        # Path to checkout. By default, /work is a Kubernetes emptyDir volume that is only available for the lifetime of the pod.
        # If you want the work directory to persist between pod restarts, specify the mount path of a persistent volume here.
        checkoutDir: /work
        # How often the remote repo should be checked for updates.
        updatePollInterval: 600s
        # Credentials used to login to the remote GitHub repo. We are using an environment variable mounted from the secret we created earlier.
        https:
          username: ${GITHUB_TOKEN} # saved in 1Password as cerbos-demo PAT cprey
          password: ""